.game-intro, .cards-deck {
    margin: 0.75rem;
}

.game-intro {
    p {
        font-size: 0.875rem;
    }
}

.cards-deck {
    text-align: center;

    .card {
        display: inline-block;
        margin: $global-margin;
        min-width: 5rem;
        height: 8rem;

        &.face-up {
            border-color: $Teal;
            background: $OffWhite;
            color: $Black;

            &:hover {
                background: $Teal;
                color: $White;
            }
        }

        &.face-down {
            border-color: darken($Teal, 10%);
            background: darken($VeryLightGrey,5%);
            color: darken($VeryLightGrey,5%);
            cursor: auto;
        }

        &.removed, &.removed:hover {
            border-style: dashed;
            border-color: $MedGrey;
            background: lighten($LightGrey,15%);
            color: $MedGrey;
            cursor: not-allowed;
        }
    }
}

.conclusion {
    text-align: center;
    line-height: 4rem;
}