.cards-input {
    text-align: center;

    p {
        display: inline-block;
        margin-right: $global-margin;
    }

    button {
        margin-left: $global-margin * 2;
    }
}

.cards-deck {
    text-align: center;
    margin: 0.75rem;

    .card {
        display: inline-block;
        margin: $global-margin;
        min-width: 5rem;
        height: 8rem;

        &.face-up {
            border-color: $Teal;
            background: $OffWhite;
            color: $Black;

            &:hover {
                background: $Teal;
                color: $White;
            }
        }

        &.face-down {
            border-color: darken($Teal, 10%);
            background: darken($VeryLightGrey, 5%);
            color: darken($VeryLightGrey, 5%);
            cursor: auto;
        }

        &.removed,
        &.removed:hover {
            border-style: dashed;
            border-color: $MedGrey;
            background: lighten($LightGrey, 15%);
            color: $MedGrey;
            cursor: not-allowed;
        }
    }
}
