
//Primary Colors:
$OdpDarkBlue:           #0267C1; // buttons
$OdpBlue:               #30C5FF; // modules
$OdpTeal:               #00A6B5; // gradient
$OdpVeryLightBlue:      #ECF2F6; // header profile bar

$OdpGreen:              #55B673; // gradient, model
$OdpDarkGreen:          #147A6E; // buttons
$OdpTurquoise:          #4BD3B9; // transparency
$OdpLightTurquoise:		#B8EDD6; // searchbar text

$OdpPaleGreen:          #cfe2de;
$OdpGreyGreen:          #789295;

$OdpDarkGrey:           #454851; // header titles on white, footers
$OdpGrey:               #6F7481; // text on white
$OdpMedGrey:            #9B9FA8; // input placeholder
$OdpAltGrey:            #B4B9C7; // unselected
$OdpLightGrey:          #BEBEBE; // greyed out text
$OdpVeryLightGrey:      #DCE5E6; // scroll bar
$OdpOffWhite:           #EAF0F0; // background

//Secondary Colors:
$OdpDarkPurple:         #492365; // BAH Digital
$OdpPurple:             #6461A0; // old model
$OdpLightPurple:        #8789C0; // modules

$OdpPink:               #d61a5e; // old modules
$OdpDarkPink:           #711c46; // unused

$OdpRed:                #d3313a; // warnings
$OdpYellow:             #FFBA49; // modules
$OdpAltYellow:          #f4c10b;

$OdpOrange:             #d54728; // warnings
$OdpLightOrange:        #FF8360; // warnings
