//Primary Colors:
$DarkBlue:          #0267C1;
$Blue:              #30C5FF;
$Teal:              #00A6B5;
$VeryLightBlue:     #ECF2F6;

$Green:             #55B673;
$DarkGreen:         #147A6E;
$Turquoise:         #4BD3B9;
$LightTurquoise:    #B8EDD6;

$PaleGreen:         #cfe2de;
$GreyGreen:         #789295;

$DarkGrey:          #454851;
$Grey:              #6F7481;
$MedGrey:           #9B9FA8;
$AltGrey:           #B4B9C7;
$LightGrey:         #BEBEBE;
$VeryLightGrey:     #DCE5E6;
$OffWhite:          #EAF0F0;

//Secondary Colors:
$DarkPurple:        #492365;
$Purple:            #6461A0;
$LightPurple:       #8789C0;

$Pink:              #d61a5e;
$DarkPink:          #711c46;

$Red:               #d3313a;
$Yellow:            #FFBA49;
$AltYellow:         #f4c10b;

$Orange:            #d54728;
$LightOrange:       #FF8360;

$White:             #fefefe;
$Black:             #0e0e0e;

// Special Colors
$Brown:             #663300;